<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>VUE.JS PROJECT TEMPLATE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Get started with HTML, CSS and JavaScript">
  <meta name="author" content="Rasmus Cederdorff">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>

<body>
  <!-- Vue App Start -->
  <div id="app">

    <h1>Todo</h1>

    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>

    <input v-model="newTodo.text" placeholder="Type new todo">
    <button type="button" v-on:click="addTodo">Add</button>

  </div><!-- Vue App End -->
  <!-- Vue.js, development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- main js file -->
  <script src="js/main.js"></script>
</body>

</html>